<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<hr>
<ag-grid-angular
   class="data-grid ag-theme-material"
   [gridOptions]="gridOptions"
>
</ag-grid-angular>

<agm-map [mapTypeControl]="true" [zoom]="zoom" [latitude]="41.8744" [longitude]="-87.6514" style="height: 600px; width: 1000px;">
  <agm-direction [origin]="orig" [destination]="dest" [waypoints]="wayPoints" [travelMode]="'DRIVING'"></agm-direction>
  <agm-marker *ngFor="let stop of rowData" [latitude]="stop.stop_latitude" [longitude]="stop.stop_longitude" [label]="stop.label"></agm-marker>
  <!--<agm-polyline>-->
    <!--<agm-polyline-point *ngFor="let stop of rowData" [latitude]="stop.stop_latitude" [longitude]="stop.stop_longitude"></agm-polyline-point>-->
  <!--</agm-polyline>-->
</agm-map>

